.container{
    padding: 30px 15px;
}
/* #header{
    height: fit-content;
} */
button{
    padding: 5px;
    border: none;
}
body{
    font-size: 18px;
}
#calendar ul, li, #bookmark{
    margin: 20px 10px;
}

#prev, #next, #saveBtn, #addBtn, #setOrder, .more_btn{
    display: none;
}

.when{
    font-weight: bold;
    font-size: 18px;
}

[id^='sList']{
    font-weight: bold;
}

.sList {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}