html, body{
    margin: 0%;
    font-family: 'Noto Sans KR', sans-serif;
}
.main{
    background-color: #F6F6F6;
    width:100%;
    height:80vh;
    display:flex;
    justify-content:  center; /* 내부 컨텐츠를 양쪽 끝으로 정렬합니다 */
    align-items: center;
}
.div{
    border-radius: 17px;
    border:1px solid gray;
    background-color: white;
    width:450px;
    height:fit-content;
    display:flex;
    justify-content:  center; /* 내부 컨텐츠를 양쪽 끝으로 정렬합니다 */
    flex-wrap: wrap;
    padding: 20px;
}
.creatIcon{
    width:20px;
    margin-top:20px;
    margin-right:10px;
}
div input{
    height:30px;
    width:250px;
    margin-top:20px;
    border-radius: 8px;
    border: 1px solid #999;;
}

.div h3{
    width:100%;
    text-align: center;
}

.submit{
    width:70%;
    height:30px;
    border-radius:12px;
    background-color: rgb(197, 78, 78);
    /* border: 1px solid rgb(215, 215, 215); */
    color: white;
}
.div h5{
    width:100%;
    text-align: center;
    margin-top:10px;
}
.find{
    text-align: center;
    /* font-size:12px; */
    padding: 10px;
}