*{
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
    background-color: transparent;
}
body{
    font-size: 18px;
}
.content{
    margin-top: 20px;
}

.board_header{
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
}

ul, li{
    list-style: none;
}

#post_cate{
    position: absolute;
    right: 0;
    top: 40px;
}
#barrier_cate{
    position: absolute;
    right: 0;
    top: 70px;
}
#search{
    display: inline-block;
    /* position: absolute;
    top: 120px; */
    width: 60%;
    margin-top: 80px;
}

input[type=text]{
    width: 70%;
}
.tabnav li{
    float: left;
    margin: 10px;
}
.tabnav li button:hover,
.tabnav li button.active{
    background-color: #ddd;
}
.comment{
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
table{
    width: 100%;
    /* font-size: 13px; */
}
table .narrow{
    width: 8%;
    text-align: center;
}
table th, td{
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
}
table th{
    border-top: 1px solid #ddd;
}

#write_btn{
    float: right;
    vertical-align: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 8px;
    margin: 15px;
}
#write_btn:hover{
    background-color: #ddd;
}
.page_buttons{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.button{
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 5px;
}
.button.active,
.button:hover {
    background-color: #ddd;
}

/* .prev{
    position: absolute;
    left: -2.5rem;
}
.next{
    position: absolute;
    right: -2.5rem;
} */
